<!DOCTYPE html>
<html>
  <head>
    <title>Login App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar">
     <% if current_user %>
     <div class="navbar-item">
       Signed in as <%= current_user.name %> 
     </div>
     <div class="navbar-item">
      <%= link_to "Logout", '/logout' %>
     </div>
    <% else %>
      <div class="navbar-item">
          <%= link_to 'Login', '/login' %> 
      </div>
      <div class="navbar-item">
        <%= link_to 'Signup', '/signup' %>
      </div>
    <% end %>
  </nav>
   <div class="container">
     <%= yield %>
   </div>
  </body>
</html>
